.about {
	font-weight: bold;
	padding-top: 2.5vw;
	background-color: #EFEEF1;
	text-align: center;
	padding-left: 10px;
}

.about-header {
  color: black;
	font-size: 40px;
}

.about-paragraph {
  text-align: center;
	margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
	font-size: 25px;
}

.about-header-founders {
  margin-top: 5vw;
	font-size: 30px;
}

.about-founders {
	display: flex;
	align-items: center;
	justify-content: center;
  margin-right: 5vw;
  margin-left: 5vw;
	margin-top: 2.5vw;
	margin-top: 5vw;
	padding-bottom: 20vw;
	font-size: 20px;
}

.daniel {
	margin-left: 5vw;
	margin-right: 5vw;
}

.maria {
	margin-left: 5vw;
	margin-right: 5vw;
}

.taylor {
	margin-left: 5vw;
	margin-right: 5vw;
}
