.homepage {
  background-color: #EFEEF1;
}

.home-search-button {
  margin-top: 2.5vw;
  margin-bottom: 5vw;
}

.home-paragraph1 {
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  text-align: justify;
}

.home-paragraph2 {
  margin-right: 5vw;
  margin-left: 5vw;
  padding-bottom: 55vw;
}
