body {
  background-color: #EFEEF1;
}

h1 {
    color: black;
}

a:hover {
  border-bottom: 2px solid #4286f4;
}


.form {
  padding-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
