.homepage {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 10px;
}


body {
    background-color: white;
}

h1 {
    color: black;
}

a:hover {
  border-bottom: 2px solid #4286f4;
}

.about {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 10px;
}

.founders {
  word-spacing: 25em;
  border: 1px solid black;
  margin-right:  10px;
}

.form {
<<<<<<< HEAD:src/index.css
  padding-top: 20px;
  text-align: center;

}

button {
  background-color: #4286f4;
  margin-left: 10px;
  font-size: 15px;
=======
  padding-top: 1em;
  /* padding-right: 85%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 1em solid white; */
}

/* button {
  background-color: #4286f4; */
>>>>>>> 0e8fdc18d642bc1bf4fff7b09265279ab9466989:src/css/index.css
}
